<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="form" (ngSubmit)="submit()" class="form" autocomplete="off">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control"
               formControlName="name">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" rows="3" class="form-control"
                  formControlName="description">
            ></textarea>
      </div>

      <div class="form-group">
        <label for="imagePath"></label>
        <input type="text" id="imagePath" class="form-control"
               formControlName="imagePath" #imagePath>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <img [src]="imagePath.value" height="70px" alt="recipe image">
        </div>
      </div>

      <hr>

      <div class="temp" formArrayName="ingredients">

        <div class="form-group" *ngFor="let _ctrl of ingredientsCtrl.controls ; let i = index">
          <div class="row" [formGroupName]="i">
            <div class="col-md-9">
              <input type="text" id="ingredient0" class="form-control" formControlName="name">
            </div>
            <div class="col-md-2">
              <input type="number" id="ingredient1" class="form-control" formControlName="amount">
            </div>
            <div class="col-md-1">
              <button type="button" class="btn btn-danger" (click)="removeIngredient(i)">X</button>
            </div>
          </div>
        </div>

        <button
          (click)="addIngredientRow()"
          style="margin-bottom: 2rem"
          type="button" class="btn btn-default">Add ingredient
        </button>

      </div>


      <div class="form-group">
        <button
          [disabled]="form.invalid"
          type="submit" class="btn btn-primary">
          Save
        </button>

        <button
          (click)="cancel()"
          type="button" class="btn btn-danger">Cancel</button>
      </div>


    </form>
  </div>
</div>
